*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: chocolate;


    background-repeat: no-repeat;
    background-position: 90% 10%;
}

.video {
    margin: 0;
    position: relative;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
