.header-container {
    display: flex;
    height: 50px;
    padding: var(--spacing-small);
    background-color: var(--color-medium);
}

.header-counter {
    margin-left: auto;
    padding: 0 var(--spacing-small);
    line-height: 2;
    font-weight: 700;
    cursor: pointer;
    background-color: var(--color-dark);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    position: fixed;
    right: 30px;
}